.text-center
  %h1= t('.heading')

  %p
    This is dynamic content for the Home Page, which you can see if you're
    logged in.

  %p
    You can find this page at
    %code
      app/views/pages/_home_signed_in.html.haml